<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <h3 class="section-subheading text-muted">Team BLD uses a collaborative and collective process to combine capital and management into successfully growing ecommerce businesses.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 1</h4>
                                    <h4 class="subheading">Identifying Projects</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 2</h4>
                                    <h4 class="subheading">BLDing the Capital</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 3</h4>
                                    <h4 class="subheading">Acquiring the Business</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When you contribute to the capital group for a particular business, you become a limited partner in the fund that will purchase that business. That fund is managed by Funnel Boom LLC and receives a percentage of profits from the sale from managing the business.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 4</h4>
                                    <h4 class="subheading">Grow to a Profitable Exit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects We're Blding</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/honeydipped2.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>HoneyDipped.com</h4>
                        <p class="text-muted">Gold plated Apple Watches. <strong>&#36;7,500</strong> investment.</p>
                        <%= link_to "BLD HoneyDipped", honeydipped_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/vinylloop1.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>VinyLoop.com</h4>
                        <p class="text-muted">Limited release Vinyl Records for Current Artsits. <strong>&#36;10,000</strong> investment.</p>
                        <%= link_to "BLD VinylLoop", vinylloop_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/crowdbrewed.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>CraftBrewed.com</h4>
                        <p class="text-muted">Crowd funding marketplace for craft breweries &#38; spirits. <strong>&#36;100,000</strong> investment.</p>
                        <%= link_to "BLD CrowdBrewed", crowdbrewed_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/totwl.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Top of The World London</h4>
                        <p class="text-muted">Apparel and Lifestyle business focused on millenials in London. <strong>&#36;4,000</strong> investment.</p>
                        <%= link_to "BLD Top of The World", topoftheworldlondon_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/northernloom.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Northern Loom</h4>
                        <p class="text-muted">Boutique women's fashion retialer selling through instagram. <strong>&#36;32,000</strong> investment.</p>
                        <%= link_to "BLD Northern Loom", northernloom_path, class: "btn btn-xl" %>
                    </div>
                </div>
            
        
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Funnel Boom LLC 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">Made from the &hearts; in beautiful <strong>Fort Collins, Colorado</span>
                </div>
            </div>
        </div>
    </footer>

    