<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <h3 class="section-subheading text-muted">Team BLD uses a collaborative and collective process to combine capital and management into successfully growing ecommerce businesses.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/search.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 1</h4>
                                    <h4 class="subheading">Identifying Projects</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We look for potential deals from just about anywhere. Our primary sources tend to be marketplaces like Flippa.com. We look for projects that have shown revenue of at least &#36;2,000 per month in consecuitve months, have been run as lifestyle businesses and with an asking price of less than &#36;25,000.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/buildcapital.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 2</h4>
                                    <h4 class="subheading">BLDing the Capital</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We believe motion creates emotion and that collaboration can catalyze growth. As a member of our Team BLD network you have the option to contribute as much or as little towards any project as you want - simply purchase as many shares as you want. Your card doesn't get run until a project is fully funded! </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/grow.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 3</h4>
                                    <h4 class="subheading">Acquiring the Business</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When you contribute to the capital group for a particular business, you become a limited partner in the partnership that will purchase that business. We work to take 100% control of a business, but on occasion we'll take less than 100% if it allows us to acquire a business with a larger valuation than normal.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phase 4</h4>
                                    <h4 class="subheading">Grow to a Profitable Exit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our ideal exit strategy is to find a strategic buyer for the business after 1-3 years of operating it at a valuation 5-7x what we purchased it for. If a business proves to be operationally friendly, we may chose to maintain ownership of the business and return proceeds to our partners via profit distributions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects We're Blding</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/honeydipped2.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>HoneyDipped.com</h4>
                        <p class="text-muted">Gold plated Apple Watches. <strong>&#36;7,500</strong> investment.</p>
                        <%= link_to "BLD HoneyDipped", honeydipped_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/vinylloop1.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>VinyLoop.com</h4>
                        <p class="text-muted">Limited release Vinyl Records for Current Artsits. <strong>&#36;10,000</strong> investment.</p>
                        <%= link_to "BLD VinylLoop", vinylloop_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/crowdbrewed.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>CraftBrewed.com</h4>
                        <p class="text-muted">Crowd funding marketplace for craft breweries &#38; spirits. <strong>&#36;100,000</strong> investment.</p>
                        <%= link_to "BLD CrowdBrewed", crowdbrewed_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/totwl.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Top of The World London</h4>
                        <p class="text-muted">Apparel and Lifestyle business focused on millenials in London. <strong>&#36;4,000</strong> investment.</p>
                        <%= link_to "BLD Top of The World", topoftheworldlondon_path, class: "btn btn-xl" %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/assets/northernloom.png" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Northern Loom</h4>
                        <p class="text-muted">Boutique women's fashion retialer selling through instagram. <strong>&#36;32,000</strong> investment.</p>
                        <%= link_to "BLD Northern Loom", northernloom_path, class: "btn btn-xl" %>
                    </div>
                </div>
            
        
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Funnel Boom LLC 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">Made from the &hearts; in beautiful <strong>Fort Collins, Colorado</span>
                </div>
            </div>
        </div>
    </footer>

    