<!DOCTYPE html>
<html>
<head>
  <title>Bld | Exclusive Private Equity Partnerships</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>

<%= yield %>

<script type="text/javascript" src="https://open.tilt.com/checkout-1-2-2.js"></script>
</body>
</html>
